body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

header{

    width: 100%;
    border-bottom: 1px solid rgba(5, 4, 4, 0.884);
    height: 200px
}

#logo{
  width:250px ; 
  height: 200px;
}

nav{
    height: 50px;
    background-color: grey;   
    
}

ul{
    list-style-type: none; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}



li{
    float:left;
    cursor: pointer;
}

li a{
    display: block;
    font-weight:bold ;  
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover { /*Para cambiar el color cuando me poso con el cursor en el elemento*/
    background-color: white;
}


h1{
    color: white;
    font-family: Barlow Condensed;
}

p{
    color: white;
    font-family: Barlow Condensed;
}

#titleFirstDiv{
    color: aliceblue;
    text-align: center;
}


.varietys1{
    background:linear-gradient(#333333, #949494);
    margin-top: 50px;
    color: white;
    text-align: center;
    height: 400px;
    width: 100%;
}

.varietys2{
    background: linear-gradient(#708090, #0D0F10);
    align-items: center;
    text-align: center;
    height: 400px;
    width: 100%;
    margin-top: 50px;
}

footer{
    background-color: black;
    height: 150px;
    width: 100%;
}

img{
    width: 350px;
    height: 400px;
}
